/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
	transition: all ease .2s;
}

/* flip the pane when flippeded */
.flip-container.flipped .flipper {
	transform: rotateY(180deg);
}

.flip-container,
.front, 
.back {
	width: 100vw;
}

.flip-controls-container {
	position: relative;
}

.flip-controls-container button {
	position: absolute;
	top: 20px;
	right: 20px;
	opacity: 0;
	transition: all 0.5s ease;
	z-index: 4;
}

.flip-controls-container:hover button {
	opacity: 1;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

/* hide back of pane during swap */
.front,
.back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}
